<!-- Modal sign up start -->
<div class="modal fade" id="_myOrderModal" tabindex="-1" aria-labelledby="_myOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="_myOrderModalLabel">Đơn hàng của tôi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Đơn hàng #12345</h5>
                            <small>Ngày đặt hàng: 01/04/2024</small>
                        </div>
                        <p class="mb-1">Tổng tiền: $100.00</p>
                        <small>Trạng thái: Đang xử lý</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal sign up end -->